# Git
.git
.gitignore

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
ENV/

# Data and Model Files
# Ignore data but keep the directory structure
data/**/*.parquet
data/**/*.json
data/*
wandb/
logs/*.log
metrics/
checkpoints/
plots/*
output/*

# IDE
.idea/
.vscode/
*.swp
*.swo

# Docker
.docker/

# Misc
.DS_Store
*.log
